<h5>Cadastro de Alunos</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos">
      <td>{{ aluno.id }} </td>
      <td>
        <a href="/aluno/{{aluno.id}}">
          {{aluno.nome}}
        </a>
      </td>
      <td>{{ aluno.cpf }}</td>
      <td>{{ aluno.email }}</td>
      <td>{{ aluno.celular }}</td>
    </tr>
  </tbody>
</table>
