<h5>Cadastro de Instituições</h5>
<br>
<div class="col-4">
  <div class="form-inline float-left">
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="novo()">Nova instituição</button>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="form-inline float-right">
    <div class="form-group mb-2">
      <input id="search" #search type="text" class="form-control" [(ngModel)]="filtro" placeholder="Filtro" />
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="center">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col" class="center">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col" colspan="4" class="center red">{{messages}}</td>
    </tr>
    <tr *ngFor="let instituicao of instituicoes | search: filtro">
      <td class="center">{{ instituicao.id }} </td>
      <td>
        <a href="/instituicao/{{instituicao.id}}">
          {{ instituicao.nome }}
        </a>
      </td>
      <td>{{ instituicao.cnpj }}</td>
      <td [ngClass]="{'red' : instituicao.status==0, 'green' : instituicao.status==1} " class="center">
        {{ instituicao.status == 1 ? "Ativo" : "Inativo" }}
      </td>
    </tr>
  </tbody>
</table>
