<div class="container">
  <div class="jumbotron">
    <h5 class="display-5 banner" >SIGIE</h5>
    <p class="lead banner-lead">Sistema de Gerenciamento de Instituições de Ensino</p>
  </div>

  <ul class="nav sticky-top nav-background-color">
    <li class="nav-item">
      <a class="nav-link active" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aluno">Alunos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/curso">Cursos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/instituicao">Instituições</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link active" href="/login">Login</a>
      <a class="nav-link active" href="/login" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>

  <router-outlet></router-outlet>
  
  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-row">
        Code licensed under MIT license conditions. <br>
        Using Angular 8 and NG Bootstrap design. <br><br>
        
        Designed and built by Everton Canez &reg; 2019<br>

    </div>
    </div>
  </footer>
</div>