/* You can add global styles to this file, and also import other style files */
.jumbotron {
  margin-top: 1%;
  margin-bottom: 0% !important;
  padding: 4% !important;
}

.jumbotron {
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav {
  position: relative;
  top: auto;
  padding-top: 0%;
  margin-top: 0px;
  margin-bottom: 2% !important;
}

.nav-background-color {
  background-color: green;
  color: white;
}

/* visited link */
a:visited,
a:active,
a:link {
  color: blue;
}

/* mouse over link */
a:hover {
  color: blue !important;
}


/* visited link */
a.nav-link:visited {
  color: white !important;
}

a.nav-link:active {
  color: white !important;
}

a.nav-link:link {
  color: white !important;
}

/* mouse over link */
a.nav-link:hover {
  color: greenyellow !important;
}


.table {
  margin-top: 2%;
}

.site-footer {
  position: relative;
  color: #1b1b32;
  background: #eeeef0;
  line-height: 1.6
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding: 40px 15px;
  font-size: 15px;
  overflow-x: hidden;
}

.footer-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.center {
  text-align: center;
}

label {
  margin-bottom: 1px !important;
}

input {
  margin-bottom: 4% !important;
}

.input-bar {
  display: table;
  width: 100%;
}

.input-bar-item {
  display: table-cell;
}

.input-bar-item>button {
  margin-left: 5px;
}

.width100 {
  width: 100%;
}
